@charset "UTF-8";body {
    background-color: #343a40;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.75);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,1);
}

.table-dark {
    background-color: #454d55;
}

.table-dark th, .table-dark td {
    color: #ffffff;
}

.logo {
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}